body{
    color: var(--SLATE, #434455);
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-header{
    color: #ffffff;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-studio-header{
    color: #2e2f42;    
}
.nav-list{
    list-style: none;
}
.nav-link{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.contact-list{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
}
.contact-link{
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    list-style: none;
    text-decoration: none;
} 
.nav-link:hover, .nav-link:focus, .contact-link:hover, .contact-link:focus{
    color: #404bbf;
}
.hero-section{
    background-color: #2e2f42;
}
.hero-title{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
}
.hero-button{
    color: var(--WHITE, #FFF);
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04;
    background: #4d5ae5;
    cursor: pointer;
}
.hero-button:hover, .hero-button:focus{
    background-color: #404bbf;
}
.features-list{
    list-style: none;
}
.team-section{
    background-color: #f4f4fd;
}
.team-section-title{
    text-align: center;
}
.team-img{
    background-color: #ffffff; 
    list-style: none;
}
.team-name{
color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-description{
    color: var(--SLATE, #434455);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.portfolio-list{
    list-style: none;
}
footer{
    background-color: #2e2f42;
}
.logo-studio-footer{
    color: #f4f4fd;
}
.footer-paragraph{
    color: #f4f4fd;
}
